{
  "openapi": "3.1.0",
  "info": {
    "title": "AthenaHQ API",
    "description": "AthenaHQ API provides programmatic access to manage your websites and prompts for AI-powered content optimization.",
    "version": "1.0.0",
    "contact": {
      "email": "support@athenahq.ai"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.athenahq.ai",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Basics",
      "description": "Core API operations for managing websites and prompts"
    }
  ],
  "paths": {
    "/api/v1/websites": {
      "get": {
        "tags": ["Basics"],
        "summary": "Get Websites",
        "description": "Returns all active websites associated with your API key.",
        "operationId": "getWebsites",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of websites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "websites": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Website"
                      }
                    }
                  },
                  "required": ["websites"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/prompts": {
      "get": {
        "tags": ["Basics"],
        "summary": "Get Prompts",
        "description": "Returns all prompts for a specific website. You can optionally filter by status (active or paused). The prompts returned include metadata such as monthly search volume and total value.",
        "operationId": "getPrompts",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "query",
            "description": "The ID of the website to retrieve prompts for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter prompts by status. If omitted, returns both active and paused prompts.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "paused"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of prompts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prompts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Prompt"
                      }
                    }
                  },
                  "required": ["prompts"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_website_id": {
                    "value": {
                      "error": "website_id is required"
                    }
                  },
                  "invalid_status": {
                    "value": {
                      "error": "status must be 'active' or 'paused'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have access to this website",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized access to this website"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/competitors": {
      "get": {
        "tags": ["Basics"],
        "summary": "Get Competitors",
        "description": "Returns all competitors for a specific website.",
        "operationId": "getCompetitors",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "query",
            "description": "The ID of the website to retrieve competitors for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of competitors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "competitors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Competitor"
                      }
                    }
                  },
                  "required": ["competitors"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "website_id is required"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have access to this website",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized access to this website"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Website": {
        "type": "object",
        "description": "A website resource in AthenaHQ",
        "required": ["id", "websiteName", "websiteUrl"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the website",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "websiteName": {
            "type": "string",
            "description": "Display name of the website",
            "example": "My Awesome Blog"
          },
          "websiteUrl": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the website",
            "example": "example.com"
          }
        }
      },
      "Prompt": {
        "type": "object",
        "description": "A prompt resource for AI-powered content generation",
        "required": ["id", "prompt", "status", "country"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the prompt",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "prompt": {
            "type": "string",
            "description": "The prompt text used for content generation",
            "example": "How to optimize website performance"
          },
          "topic_name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the topic category this prompt belongs to",
            "example": "Web Development"
          },
          "current_monthly_searches": {
            "type": "integer",
            "nullable": true,
            "description": "Estimated monthly search volume for this prompt",
            "example": 5400
          },
          "current_total_value": {
            "type": "number",
            "nullable": true,
            "description": "Estimated total monthly value for this prompt",
            "example": 1250.50
          },
          "status": {
            "type": "string",
            "enum": ["active", "paused"],
            "description": "Current status of the prompt",
            "example": "active"
          },
          "country": {
            "type": "string",
            "description": "Target country for the prompt",
            "example": "United States"
          }
        }
      },
      "Competitor": {
        "type": "object",
        "description": "A competitor resource in AthenaHQ",
        "required": ["id", "name", "url", "normalized_url", "identifiers"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the competitor",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "name": {
            "type": "string",
            "description": "Display name of the competitor",
            "example": "Competitor Inc"
          },
          "url": {
            "type": "string",
            "description": "The URL of the competitor website",
            "example": "competitor.com"
          },
          "normalized_url": {
            "type": "string",
            "description": "Normalized URL of the competitor website",
            "example": "competitor.com"
          },
          "identifiers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of identifiers associated with this competitor",
            "example": ["Competitor Inc", "competitor.com"]
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Error response object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong",
            "example": "Unauthorized"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication. You can create one [here](https://app.athenahq.ai/organization?tab=api)."
      }
    }
  }
}
