{
  "openapi": "3.1.0",
  "info": {
    "title": "AthenaHQ API",
    "description": "AthenaHQ API provides programmatic access to manage your websites and prompts for AI-powered content optimization.",
    "version": "1.0.0",
    "contact": {
      "email": "support@athenahq.ai"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.athenahq.ai",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Basics",
      "description": "Core API operations for managing websites and prompts"
    },
    {
      "name": "Metrics",
      "description": "Metrics and analytics endpoints for tracking AI visibility"
    }
  ],
  "paths": {
    "/api/v1/websites": {
      "get": {
        "tags": ["Basics"],
        "summary": "Get Websites",
        "description": "Returns all active websites associated with your API key.",
        "operationId": "getWebsites",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of websites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "websites": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Website"
                      }
                    }
                  },
                  "required": ["websites"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/prompts": {
      "get": {
        "tags": ["Basics"],
        "summary": "Get Prompts",
        "description": "Returns all prompts for a specific website. You can optionally filter by status (active or paused). The prompts returned include metadata such as monthly search volume and total value.",
        "operationId": "getPrompts",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "query",
            "description": "The ID of the website to retrieve prompts for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter prompts by status. If omitted, returns both active and paused prompts.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "paused"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of prompts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prompts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Prompt"
                      }
                    }
                  },
                  "required": ["prompts"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_website_id": {
                    "value": {
                      "error": "website_id is required"
                    }
                  },
                  "invalid_status": {
                    "value": {
                      "error": "status must be 'active' or 'paused'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have access to this website",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized access to this website"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/competitors": {
      "get": {
        "tags": ["Basics"],
        "summary": "Get Competitors",
        "description": "Returns all competitors for a specific website.",
        "operationId": "getCompetitors",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "query",
            "description": "The ID of the website to retrieve competitors for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of competitors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "competitors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Competitor"
                      }
                    }
                  },
                  "required": ["competitors"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "website_id is required"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have access to this website",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized access to this website"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/date-range": {
      "get": {
        "tags": ["Basics"],
        "summary": "Get Date Range",
        "description": "Returns the date range with available data for a website's prompts. Use this to determine the valid date range for other API queries.",
        "operationId": "getDateRange",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "query",
            "description": "The ID of the website to retrieve the date range for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "prompt_status",
            "in": "query",
            "description": "Filter by prompt status. If omitted, includes all prompts (active and paused).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "paused"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with date range",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "min_date": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "The earliest timestamp with available data (UTC)",
                      "example": "2024-01-15T08:20:17.844Z"
                    },
                    "max_date": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "The latest timestamp with available data (UTC)",
                      "example": "2024-12-01T14:30:45.123Z"
                    }
                  },
                  "required": ["min_date", "max_date"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_website_id": {
                    "value": {
                      "error": "website_id is required"
                    }
                  },
                  "invalid_status": {
                    "value": {
                      "error": "prompt_status must be 'active' or 'paused'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have access to this website",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized access to this website"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/responses": {
      "post": {
        "tags": ["Basics"],
        "summary": "Query Responses",
        "description": "Returns paginated AI model responses for a website with optional filtering by date range, models, prompts, and competitors.",
        "operationId": "queryResponses",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with list of responses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Response"
                      }
                    }
                  },
                  "required": ["responses"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_json": {
                    "value": {
                      "error": "Invalid JSON in request body"
                    }
                  },
                  "missing_website_id": {
                    "value": {
                      "error": "website_id: Required"
                    }
                  },
                  "missing_filters": {
                    "value": {
                      "error": "filters: Required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have access to this website, prompts, or competitors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unauthorized_website": {
                    "value": {
                      "error": "Unauthorized access to this website"
                    }
                  },
                  "unauthorized_prompts": {
                    "value": {
                      "error": "Unauthorized access to these prompts"
                    }
                  },
                  "unauthorized_competitors": {
                    "value": {
                      "error": "Unauthorized access to these competitors"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/metrics/share-of-voice/cumulative": {
      "post": {
        "tags": ["Metrics"],
        "summary": "Cumulative Share of Voice",
        "description": "Returns aggregated share of voice percentages across the specified date range. Shows what percentage of AI responses mention your brand versus competitors.",
        "operationId": "getCumulativeSOV",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SOVRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with share of voice data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CumulativeSOVEntry"
                      }
                    }
                  },
                  "required": ["data"]
                },
                "example": {
                  "data": [
                    {
                      "name": "Acme Corp",
                      "value": 33.3,
                      "absolute_value": 150,
                      "is_self": true
                    },
                    {
                      "name": "Competitor Inc",
                      "value": 26.7,
                      "absolute_value": 120,
                      "is_self": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_website_id": {
                    "value": {
                      "error": "website_id: Required"
                    }
                  },
                  "missing_filters": {
                    "value": {
                      "error": "filters: Required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have access to this website",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized access to this website"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Website not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/metrics/share-of-voice/time-series": {
      "post": {
        "tags": ["Metrics"],
        "summary": "Share of Voice Over Time",
        "description": "Returns daily share of voice breakdown over the specified date range. Each entry contains the date and SOV percentages for your brand and competitors.",
        "operationId": "getTimeSeriesSOV",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SOVRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with time series data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TimeSeriesSOVEntry"
                      }
                    }
                  },
                  "required": ["data"]
                },
                "example": {
                  "data": [
                    {
                      "date": "2024-06-15",
                      "Acme Corp": {
                        "value": 33.3,
                        "is_self": true
                      },
                      "Competitor Inc": {
                        "value": 26.7,
                        "is_self": false
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_website_id": {
                    "value": {
                      "error": "website_id: Required"
                    }
                  },
                  "missing_filters": {
                    "value": {
                      "error": "filters: Required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have access to this website",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized access to this website"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Website not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Website": {
        "type": "object",
        "description": "A website resource in AthenaHQ",
        "required": ["id", "websiteName", "websiteUrl"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the website",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "websiteName": {
            "type": "string",
            "description": "Display name of the website",
            "example": "My Awesome Blog"
          },
          "websiteUrl": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the website",
            "example": "example.com"
          }
        }
      },
      "Prompt": {
        "type": "object",
        "description": "A prompt resource for AI-powered content generation",
        "required": ["id", "prompt", "status", "country"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the prompt",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "prompt": {
            "type": "string",
            "description": "The prompt text used for content generation",
            "example": "How to optimize website performance"
          },
          "topic_name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the topic category this prompt belongs to",
            "example": "Web Development"
          },
          "current_monthly_searches": {
            "type": "integer",
            "nullable": true,
            "description": "Estimated monthly search volume for this prompt",
            "example": 5400
          },
          "current_total_value": {
            "type": "number",
            "nullable": true,
            "description": "Estimated total monthly value for this prompt",
            "example": 1250.50
          },
          "status": {
            "type": "string",
            "enum": ["active", "paused"],
            "description": "Current status of the prompt",
            "example": "active"
          },
          "country": {
            "type": "string",
            "description": "Target country for the prompt",
            "example": "United States"
          }
        }
      },
      "Competitor": {
        "type": "object",
        "description": "A competitor resource in AthenaHQ",
        "required": ["id", "name", "url", "normalized_url", "identifiers"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the competitor",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "name": {
            "type": "string",
            "description": "Display name of the competitor",
            "example": "Competitor Inc"
          },
          "url": {
            "type": "string",
            "description": "The URL of the competitor website",
            "example": "competitor.com"
          },
          "normalized_url": {
            "type": "string",
            "description": "Normalized URL of the competitor website",
            "example": "competitor.com"
          },
          "identifiers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of identifiers associated with this competitor",
            "example": ["Competitor Inc", "competitor.com"]
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Error response object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong",
            "example": "Unauthorized"
          }
        }
      },
      "ApiFilters": {
        "type": "object",
        "description": "Filters for querying responses",
        "required": ["start_date"],
        "properties": {
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Filter start date (UTC)",
            "example": "2024-01-01T00:00:00.000Z"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Filter end date (UTC)",
            "example": "2024-12-31T23:59:59.999Z"
          },
          "models": {
            "type": "array",
            "description": "Filter by AI models",
            "items": {
              "type": "string",
              "enum": ["chatgpt", "perplexity", "gemini", "google_ai_overview", "copilot", "claude", "ai_mode", "grok", "deepseek"]
            },
            "example": ["chatgpt", "perplexity"]
          },
          "prompt_ids": {
            "type": "array",
            "description": "Filter by specific prompt IDs",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "competitor_ids": {
            "type": "array",
            "description": "Filter by specific competitor IDs",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "prompt_status": {
            "type": "string",
            "enum": ["active", "paused"],
            "description": "Filter by prompt status"
          },
          "prompt_type": {
            "type": "string",
            "enum": ["branded", "non_branded"],
            "description": "Filter by prompt type"
          }
        }
      },
      "ResponsesRequest": {
        "type": "object",
        "description": "Request body for querying responses",
        "required": ["website_id", "filters"],
        "properties": {
          "website_id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the website to query responses for",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "filters": {
            "$ref": "#/components/schemas/ApiFilters"
          },
          "page_num": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Page number for pagination (0-indexed)",
            "example": 0
          },
          "page_size": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 40,
            "description": "Number of responses per page",
            "example": 40
          }
        }
      },
      "Source": {
        "type": "object",
        "description": "A source cited in an AI response",
        "required": ["url", "root_domain"],
        "properties": {
          "url": {
            "type": "string",
            "description": "The source URL",
            "example": "example.com/article"
          },
          "normalized_url": {
            "type": "string",
            "nullable": true,
            "description": "Normalized version of the URL",
            "example": "example.com/article"
          },
          "root_domain": {
            "type": "string",
            "description": "Root domain of the source",
            "example": "example.com"
          },
          "suffix": {
            "type": "string",
            "nullable": true,
            "description": "Domain suffix",
            "example": ".com"
          }
        }
      },
      "ResponseCompetitor": {
        "type": "object",
        "description": "A competitor mentioned in an AI response",
        "required": ["id", "name", "url", "position"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Competitor ID",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "name": {
            "type": "string",
            "description": "Competitor name",
            "example": "Competitor Inc"
          },
          "url": {
            "type": "string",
            "description": "Competitor URL",
            "example": "competitor.com"
          },
          "position": {
            "type": "integer",
            "description": "Position/rank of competitor mention in the response",
            "example": 1
          }
        }
      },
      "Response": {
        "type": "object",
        "description": "An AI model response",
        "required": ["id", "website_id", "prompt_id", "base_prompt", "prompt", "model", "response", "mentioned", "cited", "created_at", "sources", "competitors"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the response",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "website_id": {
            "type": "string",
            "format": "uuid",
            "description": "Associated website ID",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "prompt_id": {
            "type": "string",
            "format": "uuid",
            "description": "Associated prompt ID",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "base_prompt": {
            "type": "string",
            "description": "Original prompt text",
            "example": "What is the best CRM software?"
          },
          "prompt": {
            "type": "string",
            "description": "Actual prompt variation used",
            "example": "What is the best CRM software for small businesses?"
          },
          "model": {
            "type": "string",
            "description": "AI model that generated the response",
            "example": "chatgpt"
          },
          "response": {
            "type": "string",
            "description": "The AI-generated response text",
            "example": "Here are some top CRM options..."
          },
          "mentioned": {
            "type": "boolean",
            "description": "Whether your website was mentioned in the response",
            "example": true
          },
          "position": {
            "type": "integer",
            "nullable": true,
            "description": "Your website's rank/position in the response (null if not mentioned)",
            "example": 2
          },
          "cited": {
            "type": "boolean",
            "description": "Whether your website was cited as a source",
            "example": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the response was captured (UTC)",
            "example": "2024-06-15T10:30:00.000Z"
          },
          "sources": {
            "type": "array",
            "description": "Sources cited in the response",
            "items": {
              "$ref": "#/components/schemas/Source"
            }
          },
          "competitors": {
            "type": "array",
            "description": "Competitors mentioned in the response",
            "items": {
              "$ref": "#/components/schemas/ResponseCompetitor"
            }
          }
        }
      },
      "CumulativeSOVEntry": {
        "type": "object",
        "description": "A share of voice entry showing brand/competitor visibility",
        "required": ["name", "value", "absolute_value", "is_self"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Brand or competitor name",
            "example": "Acme Corp"
          },
          "value": {
            "type": "number",
            "description": "Share of voice percentage (0-100)",
            "example": 33.3
          },
          "absolute_value": {
            "type": "integer",
            "description": "Raw mention count",
            "example": 150
          },
          "is_self": {
            "type": "boolean",
            "description": "True if this entry represents your tracked website",
            "example": true
          }
        }
      },
      "TimeSeriesSOVEntry": {
        "type": "object",
        "description": "Daily share of voice data point",
        "required": ["date"],
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date in YYYY-MM-DD format",
            "example": "2024-06-15"
          }
        },
        "additionalProperties": {
          "type": "object",
          "description": "Company name as key with SOV data as value",
          "properties": {
            "value": {
              "type": "number",
              "description": "Share of voice percentage for this day"
            },
            "is_self": {
              "type": "boolean",
              "description": "True if this is your tracked website"
            }
          }
        }
      },
      "SOVRequest": {
        "type": "object",
        "description": "Request body for share of voice endpoints",
        "required": ["website_id", "filters"],
        "properties": {
          "website_id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the website to query share of voice for",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "filters": {
            "$ref": "#/components/schemas/ApiFilters"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication. You can create one [here](https://app.athenahq.ai/organization?tab=api)."
      }
    }
  }
}
